@font-face {

font-family: ‘mutletras’;

src: url(‘fonts/Mutletras-Regular.ttf’);

}
:root {
  --magenta: #F382F3;
  --cyan: #82F3F3;
  --yellow: #F3F382;
  --green: #82eaaf;
  --darkblue: #4D5797;


  --text: var(--yellow);
  --link: var(--magenta);
}

body {
    color: var(--text);
    font-family: "mutletras", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.8;
    text-shadow: 0 1px 0 var(--magenta);
    max-width: 73%;
    text-align: center;
    background-color: var(--darkblue);
    margin: 5% auto;
    background-attachment: fixed;
    background-image:url('img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    /* background-image: url('img/athos.jpg'); */
}

/* Scrollbar stuff */
html {
  --scrollbarBG: var(--yellow);
  --thumbBG: var(--darkblue);
}
/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarBG) var(--thumbBG);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 20px;
  border: 3px solid var(--scrollbarBG);
}

a {
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
    text-decoration: none;
}

.interludio {
    margin: 1em;
}

hr {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 60%;
    border: 2px inset var(--magenta);
    --rotation: 2deg;
    -moz-transform: rotate(var(--rotation));
    -webkit-transform: rotate(var(--rotation));
    -o-transform: rotate(var(--rotation));
    -ms-transform: rotate(var(--rotation));
    transform: rotate(var(--rotation));
}

h1 {
    margin: 0px;
}

a:hover {
    border-bottom: 0;
}

img {
    width: 200px;
}

.titulo {
    max-width: 800px;
    width: 100%;
    align-content: center;
}

.thingList {
    overflow-x: auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    height: max-content;
    border-width: 6px;
    border-style: inset;
    background-color: var(--darkblue);
    border-color: var(--darkblue);
        margin: 0 auto;
}

.thing {
    margin: 10px;
    width: 216px;
    box-shadow: #444444;
    /* background: #fbfd5d; */
    flex-shrink: 0;
}